---
import { slugify } from "@util/helpers";
import { Icon } from "astro-icon/components";
import Button from "@components/navigation/Button.astro";

const { title, prices, style } = Astro.props;
const id = title ? slugify(title) : "pricing";
---

<div
  {id}
  class={`container-${
    style?.container || "xl"
  } fade-up rounded-md features grid gap-8 scroll-m-8`}
>
  {title && <h1 class="title-sm fade-up"> {title}</h1>}
  {
    prices && prices.length > 0 && (
      <div class="flex flex-wrap gap-8">
        {prices.map((price) => (
          <div class="surface-price flex min-w-[290px] flex-1 grow  overflow-hidden rounded-md @container">
            <div class="price-grid grid w-full @xl:flex">
              <div
                class={`relative h-fit @xl:h-full @xl:w-[16rem] @2xl:w-[31%] ${price.surface}`}
              >
                <div class=" flex-shrink-0 px-8 pb-14 pt-8 ">
                  <div class="flex-wrap items-end gap-2">
                    <span class="text-4xl font-bold tracking-tight md:text-5xl">
                      {price.price}
                    </span>
                    <span class="opacity-60">{price.price_suffix} </span>
                  </div>

                  <div class="">
                    <h2 class="text-2xl font-normal">{price.title}</h2>
                    <p class="balance text-sm opacity-60">{price.intro}</p>
                  </div>
                </div>
              </div>

              <ul class="@xl:column-3 flex-1 p-8 @lg:gap-8 @lg:pb-20 @2xl:columns-2">
                {price.features.map((feature) => (
                  <li class="flex items-start gap-2 py-1">
                    {feature.icon && (
                      <Icon
                        name={feature.icon}
                        class={`w-5 ${feature.icon_class}`}
                      />
                    )}

                    {feature.label}
                    <span class="ml-auto text-sm font-light">
                      {feature.value}
                    </span>
                  </li>
                ))}
              </ul>

              <div class="bottom-0 right-0 flex w-full justify-end p-8 @md:absolute @md:pr-8">
                <div class="mt-auto">
                  {price?.buttons &&
                    price.buttons.map((btn) => <Button {...btn} />)}
                </div>
              </div>
            </div>
          </div>
        ))}
      </div>
    )
  }
</div>

<style>
  .price-grid {
    grid-template-rows: min-content auto min-content;
  }

  .surface-price {
    @apply bg-white text-dark dark:bg-black dark:text-light;
    .shape-fill {
      @apply fill-white dark:fill-black;
    }
  }
  .features {
    &__item {
      min-width: min(100vw - var(--spacing), 16rem);
      @screen sm {
        max-width: 22rem;
      }
    }
  }
</style>
