---
const { title, filter } = Astro.props;
import { slugify } from "@util/helpers";
const urlArray = Astro.url.pathname.split("/");
import { Icon } from "astro-icon";
---

<ul
  class="breadcrumb inline-flex min-h-[1.2rem] max-w-sm flex-nowrap gap-1 overflow-hidden py-0 text-xs uppercase"
  itemscope
  itemtype="https://schema.org/BreadcrumbList"
>
  <li class="flex content-center items-center">
    <a href="/">Home</a>
    <Icon name="right" class="h-3 w-3 pl-1" />
  </li>
  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
    class="flex content-center items-center"
  >
    <a href={`/${urlArray[1]}`} itemprop="item"
      ><span itemprop="name">{urlArray[1]}</span>
      <meta itemprop="position" content="1" /></a
    >
    <Icon name="right" class="h-3 w-3 pl-1" />
  </li>{
    filter && (
      <li
        itemprop="itemListElement"
        itemscope
        itemtype="https://schema.org/ListItem"
        class="flex content-center items-center"
      >
        <a
          href={`/${urlArray[1]}/${filter.type}/${slugify(filter.name)}`}
          itemprop="item"
        >
          <span itemprop="name">{filter.name}</span>
          <meta itemprop="position" content="2" />
        </a>
        <Icon name="right" class="h-3 w-3 pl-1" />
      </li>
    )
  }

  <li
    itemprop="itemListElement"
    itemscope
    itemtype="https://schema.org/ListItem"
    class="flex max-w-xs shrink content-center items-center"
  >
    <span itemprop="name" class="line-clamp-1 opacity-80">
      {title}
      <meta itemprop="position" content={filter ? "3" : "2"} />
    </span>
  </li>
</ul>

<style>
  .breadcrumb {
    a {
      @apply line-clamp-1;
      background: linear-gradient(90deg, currentColor, currentColor) no-repeat
        right bottom / 0 var(--bg-h);
      transition: background-size 350ms;
      --bg-h: 0.1em;

      &:where(:hover, :focus-visible) {
        background-size: 100% var(--bg-h);
        background-position-x: left;
      }
    }
  }
</style>
