---
import { getEntry } from "astro:content"; 
import { marked } from "marked";
import { Icon } from "astro-icon";
import { t } from "@util/translate";
import Newsletter from "@components/newsletter/Newsletter.vue";

const today = new Date();
let about = await getEntry("config", "about");
let contact = await getEntry("config", "contact");
let navigation = await getEntry("config", "navigation");

 

const showNewsletter = !!import.meta.env.NEWSLETTER_PROVIDER;
---

<footer class="surface-footer relative grid">
  <div
    class="container-xl mx-auto flex flex-col justify-between pb-5 pt-10 lg:flex-row lg:space-y-0"
  >
    <div
      class="flex flex-col items-center pb-8 text-center lg:w-1/3 lg:items-start lg:text-left"
    >
      <a rel="noopener noreferrer" href="#" aria-label={t("back_to_home")}>
        <Icon name="logo-footer" class="h-8" />
      </a>

      {
        about.data.footer_text && (
          <div
            class="balance pr-4 pt-4 text-sm opacity-70"
            set:html={marked.parse(about.data.footer_text)}
          />
        )
      }
      <div class="mt-auto flex gap-2 pt-4 text-xs opacity-70">
        <span>&copy;{today.getFullYear()}</span>
        <span> {about.data.sitename}</span>
      </div>
    </div>
    <div class="grid w-full lg:w-2/3">
      <div
        class="flex-wrap justify-center gap-8 text-center sm:flex sm:justify-between sm:text-left"
      >
        {
          navigation.data.footer_menus &&
            navigation.data.footer_menus.map((menu) => (
              <div class="min-w-[12rem] space-y-3 sm:max-w-[14rem]">
                <h3 class="font-semibold uppercase">{menu.label}</h3>
                <ul class="space-y-1">
                  {menu.links.map((link) => (
                    <li>
                      <a
                        rel="noopener noreferrer"
                        href={link.href}
                        class="link-underline"
                      >
                        {link.label}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            ))
        }
        <div class="min-w-[12rem] space-y-3 sm:max-w-[14rem]">
          <div class="font-semibold uppercase">{t("social")}</div>
          <div class="flex flex-col">
            {
              contact.data.social && (
                <ul class="-ml-1 flex  flex-wrap justify-center gap-2 sm:justify-start ">
                  {contact.data.social.map((link) => (
                    <li>
                      <a
                        href={link.href}
                        class="grid h-full place-items-center transition-transform duration-500 hover:scale-110 "
                        target="_blank"
                        aria-label={link.label}
                      >
                        <Icon name={link.icon} class="h-8 w-8" />
                      </a>
                    </li>
                  ))}
                </ul>
              )
            }
          </div>
        </div>

        {
          showNewsletter && (
            <div class="gap:10 flex-col content-end  items-end justify-end  py-0 pt-8 sm:ml-auto sm:flex sm:max-w-md sm:pt-0 sm:text-right">
              <div
                class="richtext dense no-lead balance leading-none opacity-80"
                set:html={marked.parse(about.data.newsletter_text)}
              />
              <Newsletter client:visible />
            </div>
          )
        }
      </div>
    </div>
  </div>

  <!-- ðŸ‘‰ðŸ‘‰ CC BY-ND 4.0 Â©ï¸unfolding.io  ðŸ‘ˆðŸ‘ˆ -->
  <!-- âš ï¸âš ï¸ DO NOT REMOVE THE ATTRIBUTION âš ï¸âš ï¸ -->
  <!-- Or hide this trough css or js. Keep it visible and readeble-->
  <!-- if you want to remove the attribution you can purchase a license at https://nebulix.unfolding.io/shop and support further development  ðŸ™ðŸ™ -->

  <div class="relative w-full overflow-hidden">
    <div class="attribution container-xl grid place-items-start">
      <a
        href="https://unfolding.io"
        target="_blank"
        rel="noopener noreferrer"
        class="group my-4 inline-flex flex-col items-center gap-1.5 rounded-md p-2 text-center text-xs tracking-widest shadow-inset-s"
      >
        <sup class="pointer-events-none pt-2 opacity-60">powered by</sup>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xml:space="preserve"
          viewBox="0 0 292.39 67.02"
          class="pointer-events-none h-4 opacity-60 transition-opacity duration-500 group-hover:opacity-100"
        >
          <path
            d="M293.58 181.46c4.05-.89 8.08-1.85 12.19-2.88v-36.41h-16.05v1.18h3.87v38.11zm59.22-3.38c3.96 1.95 8.03 3.66 12.19 5.13v-23.09h-16.05v1.18h3.86v16.78zm20.9 7.94c4.01 1.16 8.1 2.16 12.19 3v-16.97c-.07-2.33.48-4.64 1.61-6.68 1.07-1.83 2.3-2.75 3.7-2.75.81-.06 1.58.4 1.9 1.15.46 1.65.64 3.37.52 5.08v21.29h-1.69c3.05.5 6.07.9 9 1.18h8.54v-1.18h-3.67v-19.72c0-7.29-3.39-10.94-10.16-10.94-2.93 0-5.11.61-6.55 1.83-1.49 1.29-2.6 2.97-3.21 4.85v-6.03H370.1v1.18h3.6v24.71zm-14.87-30.42c2.32 0 4.02-.57 5.11-1.7a6.313 6.313 0 0 0 1.64-4.55c.1-1.64-.52-3.25-1.7-4.39a7.163 7.163 0 0 0-4.98-1.54c-1.79-.14-3.57.47-4.88 1.7a6.06 6.06 0 0 0-1.61 4.32c-.05 1.59.47 3.15 1.47 4.39.99 1.18 2.63 1.77 4.95 1.77zm-34.85 18.09c-.1-3.17.16-6.33.78-9.44.52-1.92 1.51-2.88 2.95-2.88a3.54 3.54 0 0 1 3.27 1.96 9.482 9.482 0 0 1 1.11 4.78v3.24c2.34-.68 4.73-1.38 7.18-2.1 1.57 1.41 3.24 2.72 5 3.9v-30.99h-16.38v1.18h4v19.33c-1.22-2.14-3.76-3.21-7.6-3.21-8.65 0-12.97 5.44-12.97 16.31 0 .47.02.91.03 1.36 4.23-1.1 8.44-2.25 12.63-3.44zM428.8 184.5h-6.68c-2.8 0-4.19-.31-4.19-.92 0-.61.96-1.53 2.88-2.75 1.75.34 3.52.52 5.31.53 4.11 0 7.36-.96 9.76-2.88a9.782 9.782 0 0 0 3.6-8.09c0-3.47-1.66-6.32-4.98-8.55a19.99 19.99 0 0 1-.46-3.93c0-2.88.94-4.32 2.82-4.32 1.31 0 1.83.68 1.57 2.03l-1.83 1.11c-.01.97.41 1.89 1.15 2.52.78.61 1.76.92 2.75.88 1.05.02 2.08-.36 2.85-1.08.85-.88 1.28-2.09 1.18-3.31.07-1.33-.48-2.62-1.47-3.51a5.756 5.756 0 0 0-3.9-1.28c-1.61 0-3.17.58-4.39 1.64-1.31 1.09-1.97 2.86-1.97 5.31.01 1.08.15 2.16.39 3.21a15.051 15.051 0 0 0-7.27-1.64c-4.72 0-8.25 1-10.61 3.01a9.908 9.908 0 0 0-3.54 7.93c0 5.2 2.53 8.52 7.6 9.96a29.913 29.913 0 0 0-5.83 4.29 6.07 6.07 0 0 0-1.64 4.32c.01 1.74.86 3.37 2.29 4.36 1.53 1.18 4.06 1.77 7.6 1.77h6.36c3.32 0 5.53.32 6.65.95s1.67 1.89 1.67 3.77a5.626 5.626 0 0 1-2.75 4.72c-1.83 1.27-4.45 1.9-7.86 1.9-5.59 0-8.39-1.88-8.39-5.63.01-1.22.19-2.43.52-3.6l-3.93-1.77c-3.36.96-5.05 2.71-5.05 5.24 0 4.67 5.39 7.01 16.18 7.01 6.33 0 11-1.12 13.99-3.37 2.92-2.11 4.61-5.54 4.49-9.14 0-7.13-4.96-10.69-14.87-10.69zm-6.09-15.53c0-3.32.26-5.54.79-6.65a2.5 2.5 0 0 1 2.33-1.67c1.01-.02 1.91.64 2.2 1.61.43 1.07.65 3.31.65 6.71v3.21c0 3.19-.23 5.3-.69 6.32a2.31 2.31 0 0 1-2.23 1.54c-1.02.01-1.93-.62-2.29-1.57-.5-1.05-.75-3.04-.75-5.96l-.01-3.54zm-209.78 22.3v-1.14h-2.82v-18.08c-.07-2.33.48-4.64 1.61-6.68 1.07-1.83 2.3-2.75 3.7-2.75.81-.06 1.58.4 1.9 1.15.46 1.65.64 3.37.52 5.08v21.29h-2.69v1.02c5.2-.29 10.39-.63 15.58-1.02h-.71v-19.72c0-7.29-3.38-10.94-10.15-10.94-2.93 0-5.11.61-6.55 1.83-1.49 1.29-2.6 2.97-3.21 4.85v-6.03h-15.79v1.18h3.6v28.83h-3.6v1.18h17.92l.69-.05zm43.3-15.52c0 4.91 1.25 8.74 3.73 11.5 3.12-.4 6.16-.82 9.12-1.26-.23-2.57-.32-5.14-.27-7.72v-5.11c-.07-3 .12-6.01.59-8.98.14-1.02.59-1.96 1.28-2.72.64-.56 1.47-.86 2.33-.82 1.66 0 2.72.97 3.18 2.91.55 3.06.78 6.17.69 9.27v5.57c0 2.63-.06 4.74-.17 6.36 3.92-.67 7.82-1.41 11.71-2.21.73-2.36 1.08-4.82 1.04-7.29 0-5.33-1.33-9.29-4-11.89-2.67-2.6-6.71-3.9-12.12-3.9-5.42 0-9.62 1.41-12.61 4.23s-4.5 6.84-4.5 12.06zm-18.08 13.79c4.24-.36 8.29-.75 12.19-1.16V161.3h8.65v-1.18h-8.65v-10.48c-.11-2.03.16-4.06.79-6a3.192 3.192 0 0 1 3.28-1.87c2.23 0 2.9 1.49 2.03 4.46h-2.49c-.26 1.06-.4 2.15-.39 3.24.01 1.13.5 2.2 1.34 2.95a5.36 5.36 0 0 0 3.83 1.28c1.47.07 2.91-.45 4-1.44a5.743 5.743 0 0 0 1.51-4.32 6.704 6.704 0 0 0-2.42-5.08c-1.62-1.46-4.28-2.19-7.99-2.19-5.63 0-9.65 1.63-12.06 4.88s-3.6 8.03-3.6 14.31v.26h-3.8v1.18h3.8l-.02 28.24zm-43.7-44.09h-9.57v1.25h4.26v29.61c0 4.54-.96 7.93-2.88 10.15-1.92 2.23-4.67 3.34-8.26 3.34-3.58 0-6.06-1.07-7.44-3.21s-2.06-5.22-2.06-9.24V146.7h4.26v-1.25h-20.64v1.25h3.6v28.43c0 6.16 1.6 10.5 4.82 13.04 3.21 2.53 7.86 3.8 13.96 3.8 6.09 0 10.34-1.33 12.74-4 2.4-2.67 3.6-6.71 3.6-12.12V146.7h3.6l.01-1.25z"
            transform="translate(-152.13 -140.668)"
            fill="currentColor"></path>
        </svg>
      </a>
    </div>
  </div>
  <slot />

  <!-- âœŒï¸âœŒï¸ Thanks!âœŒï¸âœŒï¸ -->
</footer>
<style></style>
