---
/* BLOG POST PAGES */
import type { CollectionEntry } from "astro:content";
import { getArchiveNav } from "@util/helpers";
import { getCollection } from "astro:content";
import Breadcrumb from "@components/navigation/Breadcrumb.astro";
import ItemNav from "@components/navigation/ItemNav.astro";
import PageLayoutSplit from "@layouts/PageLayoutSplit.astro";
import PageLayoutWide from "@layouts/PageLayoutWide.astro";
import { t } from "@util/translate";
export async function getStaticPaths() {
  const posts = (await getCollection("project")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
  );
  const count = posts.length;
  return posts.map((post, index) => {
    let next: CollectionEntry<"project"> | null = null;
    let prev: CollectionEntry<"project"> | null = null;
    const archiveNav = getArchiveNav(count, index, posts);

    next = archiveNav.next;
    prev = archiveNav.prev;

    return {
      params: { slug: post.slug },
      props: {
        ...post,
        data: {
          ...post.data,
          nav: {
            next: {
              slug: next?.slug,
              title: next?.data?.title,
            },
            prev: {
              slug: prev?.slug,
              title: prev?.data?.title,
            },
            index: index,
          },
        },
      },
    };
  });
}
type Props = CollectionEntry<"project">;
const base_url = import.meta.env.PORTFOLIO_SLUG;
const post = Astro.props;
const { Content } = await post.render();

let searchFilters = [`${t("content")}:${base_url}`];
if (post?.data?.tag) {
  const searchTags = post.data.tag.map((tag) => `${t("tag")}:${tag}`);
  searchFilters = [...searchFilters, ...searchTags];
}

const filter = post.data?.tag
  ? {
      name: post.data.tag[0],
      type: "tag",
    }
  : null;
---

{
  post.data.style.template === "full" && (
    <PageLayoutWide {...post.data} {base_url}>
      <Breadcrumb title={post.data.title} filter={filter} />
      <div class="richtext">
        <Content />
      </div>
      {post.data.features && (
        <div class="pt-auto flex h-full max-w-md content-end border border-primary py-8 ">
          <div class="sticky bottom-8 self-end">
            {post.data.features.map((feature) => (
              <div class=" flex justify-stretch gap-4">
                <div class="flex-0 sm:fex-1  min-w-[120px] font-bold">
                  {" "}
                  {feature.name}
                </div>
                <div class="flex-1"> {feature.value}</div>
              </div>
            ))}
          </div>
        </div>
      )}
      <div class="container-md pb-20" slot="nav">
        <ItemNav nav={post.data.nav} {base_url} />
      </div>
      <div class="search-indexing hidden">
        {searchFilters.map((filter) => (
          <meta data-pagefind-filter={filter} />
        ))}
      </div>
    </PageLayoutWide>
  )
}
{
  post.data.style.template === "split" && (
    <PageLayoutSplit {...post.data} {base_url}>
      <Breadcrumb title={post.data.title} filter={filter} />

      <div class="richtext">
        <Content />
      </div>
      {post.data.features && (
        <div class="pt-auto flex h-full max-w-md content-end py-8 ">
          <div class="sticky bottom-8 self-end">
            {post.data.features.map((feature, index) => (
              <div class=" flex justify-stretch gap-4">
                <div class="flex-0 sm:fex-1  min-w-[120px] font-bold">
                  {" "}
                  {feature.name}
                </div>
                <div class="flex-1"> {feature.value}</div>
              </div>
            ))}
          </div>
        </div>
      )}
      <ItemNav nav={post.data.nav} {base_url} slot="nav" />
      <div class="search-indexing hidden">
        {searchFilters.map((filter) => (
          <meta data-pagefind-filter={filter} />
        ))}
      </div>
    </PageLayoutSplit>
  )
}
