---
import { getEntry } from "astro:content";
import { marked } from "marked";
import { Picture } from "astro-imagetools/components";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Init from "@components/common/Init.vue";
import SnipCart from "@components/shop/SnipCartInit.vue";
import ContactDialog from "@components/common/ContactDialog.vue";
import { Icon } from "astro-icon";
import { t } from "@util/translate";
import "@fontsource-variable/inter-tight";
import "@fontsource-variable/inter-tight/wght-italic.css";

const lang = import.meta.env.WEBSITE_LANGUAGE;
const currency = import.meta.env.CURRENCY;
const snipcartKey = import.meta.env.SNIPCART_KEY;
const { title, description, pageClass, thumbnail, og_image } = Astro.props;
const navigation = await getEntry("config", "navigation");
const about = await getEntry("config", "about");
const contact = await getEntry("config", "contact");
---

<!doctype html>
<html lang={lang} data-currency={currency}>
  <head>
    <BaseHead
      title={title}
      description={description}
      thumbnail={!!og_image ? og_image : thumbnail}
    />
  </head>
  <body class={`surface-base ${pageClass || ""}`}>
    {
      snipcartKey && (
        <SnipCart
          transition:persist
          transition:name="snipcart-base"
          snipcartKey={snipcartKey}
          client:idle
        />
      )
    }
    <Header
      title={title}
      menu={navigation.data.main_menu}
      social={contact.data.social}
      about={about.data}
    />
    <main>
      <slot />
    </main>
    <Footer>
      <slot name="footer" />
      <div class="pointer-events-none fixed bottom-0 right-0 z-50 w-full">
        <div class="container-xl flex justify-end pb-4">
          <a
            href="#top"
            aria-label={t("back_to_top")}
            class="btn btn-icon surface-primary btn-to-top pointer-events-auto opacity-0"
          >
            <Icon name="up" class="w-6" /></a
          >
        </div>
      </div>
    </Footer>
    <Init client:idle />

    <ContactDialog client:idle contact={contact.data.form}>
      {
        contact?.data?.form?.intro && (
          <div
            set:html={marked.parse(contact.data.form.intro)}
            slot="content"
          />
        )
      }
      <Picture
        slot="image"
        src={contact.data.form.thumbnail}
        alt={`contact`}
        sizes="50vw"
        aspect={4 / 5}
        format={["webp"]}
        fit="cover"
        layout="fill"
        placeholder="blurred"
        position="attention"
        loading="lazy"
        sizes="(max-width: 768px) 100vw, 40vw"
        breakpoints={[420, 725, 960]}
        artDirectives={[
          {
            media: "(max-width: 768px)",
            ar: 21 / 9,
            src: contact.data.form.thumbnail,
            layout: "constrained",
            breakpoints: [500, 601, 768, 820, 962, 1280, 1440, 1536, 1920],
          },
        ]}
      />
      <Icon name="close" class="w-6" />
    </ContactDialog>

    <script>
      const html = document.getElementsByTagName("html")[0];
      const setDarkMode = () => {
        if (localStorage.darkMode) {
          document.documentElement.dataset.dark = "";
        }
      };

      const SmoothScroll = () => {
        html.style["scroll-behavior"] = "auto";
      };
      SmoothScroll();
      document.addEventListener("astro:beforeload", SmoothScroll);
    </script>
  </body>
</html>
