---
import Block from "@components/block/Block.astro";
import BaseLayout from "./BaseLayout.astro";
import HeroImage from "@components/hero/HeroImage.astro";
import HeroPlain from "@components/hero/HeroPlain.astro";

const props = Astro.props;
const { title, description, blocks, style, thumbnail, og_image } = Astro.props;
const contentClass = style.hero_template === "plain" ? "py-0" : "py-0";
const hasBlocks = blocks && blocks.length > 0;
---

<BaseLayout
  {title}
  {description}
  pageClass={style.page_class}
  {thumbnail}
  {og_image}
>
  {
    style.hero_template == "plain" && (
      <HeroPlain {...props}>
        <slot name="hero" />
      </HeroPlain>
    )
  }
  {
    style.hero_template == "image" && (
      <HeroImage {...props}>
        <slot name="hero" />
      </HeroImage>
    )
  }

  <div class="relative z-10 w-full" id="more">
    <div
      class=`page__content container-${style.container || 'md'} ${style.content_class || contentClass} `
    >
      <slot />
      {!hasBlocks && <slot name="nav" />}
    </div>

    {
      hasBlocks && (
        <>
          <div class={style.block_class}>
            {blocks.map((section) => (
              <Block {...section} />
            ))}
          </div>

          <slot name="nav" />
        </>
      )
    }
    <div class="pointer-events-none fixed bottom-0 z-40 w-full">
      <slot name="cart" />
    </div>
  </div>
</BaseLayout>

<style is:global>
  .page__content {
    .img,
    iframe {
      width: calc(100% + var(--container-spacing));
      margin-left: calc(var(--spacing) * -1);
      @apply my-10 aspect-video h-auto;
      @screen md {
        width: 100%;
        margin-left: 0;
      }
    }
  }
</style>
